/* ArmsCard.css */
.armCard {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    max-width: 300px;
    text-align: center;
    z-index: 2;
}

.armName {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.divider {
    margin: 12px auto;
    width: 50%;
    border: 1px solid #ddd;
}

.armType {
    font-size: 20px;
    color: #888;
    margin-bottom: 8px;
}

.armDetails {
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
    text-align: left;
}

.armDescription {
    font-size: 14px;
    color: #555;
    margin-top: 20px;
    text-align: left;
}