/* CreateMonsterStatblock.module.css */

.stickyHeader {
    width: 100%;
    padding-top: 10px;
    position: sticky;
    top: 0;
    background-color: #888888;
    height: 70px;
    z-index: 100;
}

/* Container styling */
.container {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Container styling */
.section {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    display: inline-flex;
}

/* Title styling */
.container h1 {
    font-size: 24px;
    text-align: center;
}

/* Form styling */
.container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Form label styling */
.container label {
    flex: 1;
    margin-bottom: 10px;
    padding: 10px;
}

/* Button hover effect */
.abilities button:hover {
    background-color: grey;
}

/* .actionRow {
    height: 100%;
} */