.sentMessageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 8px;
}

.sentMessage {
    text-align: left;
    padding: 8px;
    font-family: "Roboto", sans-serif;
    color: #000000;
    background: linear-gradient(135deg, #F2711C, #E94057);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.receivedMessageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 8px;
}

.receivedMessage {
    text-align: left;
    padding: 8px;
    font-family: "Roboto", sans-serif;
    color: #000;
    background: linear-gradient(135deg, #F8B195, #F67280);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.senderText {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 4px;
}
