
.TabMenu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px; /* Adjust width as needed */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; /* Adjust background color as needed */
    z-index: 2; /* Ensure the tab menu is above other content */
}

.ReactTabs {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.ReactTabsPanel {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.ReactTabsList {
    border-color: black;
    border-style: solid;
    margin: 0
}