
.ToolBar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 75px;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
    background-color: #f0f0f0; /* Adjust background color as needed */
    z-index: 2; /* Ensure the toolbar is above other content */
    overflow: hidden;
    height: 100vh;
    /*text-align: center;*/
    /*align-content: center;*/
}

.ToolIcon {
    width: 100%;
    height: 100%;
}

.ToolContainer {
    text-align: center;
    align-content: center;
    align-items: center;
    width: 75px;
    padding: 5px 5px 5px 5px;
    display: inline-block;
    /*margin: 5px;*/
}

.SubContainer {
    text-align: center;
    align-content: center;
    align-items: center;
    width: 50px;
    padding: 5px 5px 5px 5px

    /*margin: 5px;*/
}